.container {
    position: relative;
    padding-bottom: 54%;
}

.iFrame {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
}

.preview {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.previewInner {
    padding-bottom: 80%;
}

.previewInner:before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    height: 200%;
    width: 200%;
    background-image: url(./noise.gif);
    background-size: 500px;
    -webkit-animation: noiseMovement 0.3s linear infinite;
    animation: noiseMovement 0.3s linear infinite;
    opacity: 0.25;
    z-index: 1;
}

.previewImage {
    position: absolute;
    height: 100%;
    width: 100%;
    animation-name: images;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.previewImage:nth-child(1) {
    animation-delay: -0.25s;
}

.previewImage:nth-child(2) {
    animation-delay: -0.5s;
}

.previewImage:nth-child(3) {
    animation-delay: -0.75s;
}

@keyframes images {
    0% {
        visibility: hidden;
    }
    74.9% {
        visibility: hidden;
    }
    75% {
        visibility: visible;
    }
    100% {
        visibility: visible;
    }
}

@keyframes noiseMovement {
    0% {
        transform: translateX(-5rem);
    }
    25% {
        transform: translateY(-5rem);
    }
    50% {
        transform: translateY(5rem);
    }
    75% {
        transform: translateY(-5rem);
    }
}
