.tags,
.persons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: -1rem;
}

.tags > *,
.persons > * {
    margin: 1rem;
}

.persons > * {
    width: 100%;
}

.tagText {
    font-family: var(--secondaryFont);
    white-space: pre-line;
    text-align: center;
    line-height: 1;
}

.fragments {
    margin-top: 2rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.fragmentLink {
    color: var(--fontColor);
    background: var(--mainColor);
    text-decoration: none;
    padding: 1rem;
    display: block;
}

.fragmentLink:hover {
    color: var(--mainColor);
    background: var(--fontColor);
}

.fragmentHeading {
    margin: 0 0 0.5rem;
    font-size: inherit;
}

.fragmentImage {
    display: block;
}

.supportOrgs {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-gap: 1rem;
    list-style: none;
    align-items: center;
}

.supportOrg {
    margin: 0;
}

.supportOrgLogo {
    background-size: contain;
    height: 100%;
    width: 100%;
}

.audio {
    padding-bottom: 50%;
    position: relative;
    font-size: 5rem;
}

.audioInner {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fragmentLink:hover .audioInner {
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
