.graph {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.storerContainer {
    overflow: hidden;
    pointer-events: none;
}

.storerContainer2 {
    composes: storerContainer;
}

.storer {
    position: fixed;
    text-decoration: none;
    display: block;
    width: max-content;
    background: var(--yellow);
    color: var(--red);
    font-weight: bold;
    font-size: var(--fontSizeL);
    padding: 0.5rem 0;
    pointer-events: all;
    bottom: 2rem;
    transform-origin: top left;
    animation-name: storer;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

.storer:hover {
    animation-play-state: running;
}

.storer2 {
    composes: storer;
    animation-name: storer2;
    bottom: 10rem;
}

@keyframes storer {
    from {
        transform: rotate(-3deg) translateX(-1rem);
    }
    to {
        transform: rotate(-3deg) translateX(-200rem);
    }
}

@keyframes storer2 {
    from {
        transform: rotate(6deg) translateX(-1rem);
    }
    to {
        transform: rotate(6deg) translateX(-200rem);
    }
}

@media (max-height: 700px) {
    .storer {
        font-size: inherit;
        padding: 0.2rem 0;
    }
    .storer2 {
        bottom: 6rem;
    }
}
