@font-face {
    font-family: 'PT Mono';
    src: url(./fonts/PT-Mono_Regular.woff2) format('woff2'),
        url(./fonts/PT-Mono_Regular.woff) format('woff');
}

@font-face {
    font-family: 'PT Mono';
    font-weight: bold;
    src: url(./fonts/PT-Mono_Bold.woff2) format('woff2'),
        url(./fonts/PT-Mono_Bold.woff) format('woff');
}

body {
    --mainFont: 'PT Mono', monospace;

    --white: #fff;
    --yellow: #ffff3b;
    --red: #f81955;
    --orange: #f8927d;
    --pink: #fec4fc;
    --blue: #2c99e4;
    --turquoise: #6deaba;

    --paragraphLineHeight: 1.4;

    background: var(--turquoise);
    font-family: var(--mainFont);
    margin: 0;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

p {
    line-height: var(--paragraphLineHeight);
}
