.main {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: auto minmax(0, 700px) auto;
  padding: 1rem;
  min-height: 100vh;
  align-items: center;
}

.mainInner {
  grid-column: 2;
}

.graph {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
