.project {
    display: block;
    text-decoration: none;
    margin: 1rem 0;
}

.title {
    margin: 0;
}

.superTitle > span,
.person,
.title > span {
    color: var(--fontColor);
    background: var(--mainColor);
}

.project:hover .superTitle > span,
.project:hover .person,
.project:hover .title > span {
    background: var(--fontColor);
    color: var(--mainColor);
}

.persons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.person {
    display: inline;
}

.person + .person:before {
    content: ', ';
}

.description {
    color: var(--black);
    margin-top: 0.5rem;
}
