.project {
    display: block;
    text-decoration: none;
    margin: 2rem 0;
    line-height: var(--paragraphLineHeight);
}

.title {
    margin: 0;
}

.superTitle {
    margin-bottom: -0.3rem;
}

.superTitle > span,
.title > span {
    color: var(--blue);
    background: var(--pink);
}

.project:hover .superTitle > span,
.project:hover .person,
.project:hover .description > span,
.project:hover .title > span {
    background: var(--pink);
}

.project:hover .person,
.project:hover .description > span {
    box-shadow: 0 -0.3rem 0 var(--pink);
}

.persons {
    list-style: none;
    padding: 0;
    margin: 0;
    font-style: italic;
    color: var(--black);
}

.person {
    display: inline;
}

.person + .person:before {
    content: ', ';
}

.description {
    color: var(--black);
    margin-top: 0rem;
    margin-bottom: 0;
}
