.main {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: auto minmax(0, 700px) auto;
    padding: 1rem;
    min-height: 100vh;
    align-items: center;
    pointer-events: none;
}

.main.large {
    grid-template-columns: auto minmax(0, 1000px) auto;
}

.article {
    --borderWidth: 4px;

    grid-column: 2;
    position: relative;
    padding: 1rem;
    background: var(--white);
    border: solid var(--borderWidth) var(--mainColor);
    pointer-events: all;
}

.heading {
    margin: 0;
    font-size: 2rem;
}

.headingInner,
.superTitleInner {
    color: var(--fontColor);
    background: var(--mainColor);
}

.superTitle {
    margin-bottom: 0.5rem;
}

.subTitle {
    margin: 0.5rem 0 0;
    font-weight: normal;
    font-style: italic;
}

.header {
    margin-bottom: 2rem;
}

.backButton {
    position: absolute;
    top: -1rem;
    right: -1rem;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    background: var(--fontColor);
    border: var(--borderWidth) solid var(--mainColor);
}

.backButton:before,
.backButton:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background: var(--mainColor);
    width: 70%;
    height: var(--borderWidth);
}

.backButton:before {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.backButton:after {
    transform: translate(-50%, -50%) rotate(45deg);
}

.pink {
    --mainColor: var(--pink);
    --fontColor: var(--yellow);
}

.blue {
    --mainColor: var(--blue);
    --fontColor: var(--red);
}

.white {
    --mainColor: var(--white);
    --fontColor: var(--black);
}

@media (max-width: 1000px) {
    .main {
        padding: 8rem 0.5rem 0.5rem;
    }

    .article {
        padding: 0.5rem;
    }
}
